# ==========================================
# CẤU HÌNH API URL
# ==========================================
# Link API dùng để gọi lên máy chủ Backend Laravel
NEXT_PUBLIC_API_URL=https://api.shopdee.io.vn/api

# ==========================================
# CẤU HÌNH PUSHER (Chat Realtime)
# ==========================================
# (Lấy từ phần Dashboard của Pusher)
NEXT_PUBLIC_PUSHER_APP_KEY=
NEXT_PUBLIC_PUSHER_APP_CLUSTER=ap1

# ==========================================
# CẤU HÌNH GOOGLE OAUTH
# ==========================================
# (Dùng để hiện nút Login bằng Google)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
