/frontend/node_modules
/frontend/.next/
/frontend/out/
/frontend/build/
/backend/vendor/
/backend/public/build/
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/.env
/.env.*.local
.DS_Store
*.log
